body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #418b5e;
    color: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    max-height: 8vh;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .left-header {
    margin-left: 20px;
  }
  
  .right-header {
    display: flex;
    gap: 10px;
  }
  
  .header-button {
    background-color: #4617ee;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .header-button:hover {
    background-color: #408cff;
  }
  
  main {
    text-align: center;
    padding: 50px 20px;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 150px;
    height: auto;
  }
  
  .info-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: fadeIn 1s ease-in-out;
  }
  
  .workshops {
    animation: slideInLeft 1s ease-in-out;
  }
  
  .writing-resources {
    animation: slideInRight 1s ease-in-out;
  }
  
  .personalized-feedback {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .social-media a:hover {
    color: #ff6f61;
  }
  
  .footer-button {
    display: block;
    margin: 20px auto;
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .footer-button:hover {
    background-color: #ff5040;
  }
  
  footer p {
    margin: 10px 0 0;
  }
  